<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('navbar') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
                        <div class="d-flex flex-column ml-2"><span><h1>html</h1></span><span class="text-black-50"></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
            
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/IpKQiNu.png" width="70">
                        <div class="d-flex flex-column ml-2"><span><h1>expresse</h1></span></div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/42SqVZd.png" width="70">
                        <div class="d-flex flex-column ml-2"><span><h1>css</h1></span><span class="text-black-50"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3">
                    <div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/lXEUCY8.png" width="70">
                        <div class="d-flex flex-column ml-4"><span><h1>react</h1></span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                    </div>
                </div>
            </div>
</body>
</html>